<%- include('partials/head', {tituloWeb: 'Edit product'}) %>

<%- include('partials/nav')  %> 

<div class="container">
    <div class="col-xs-8 col-xs-offser-2">
        <h2 class="text-center">Editar producto</h2>

        <form action="/products/edit/:id" method="get">
            <div class="form-group">
                <label for="nombre">Titulo</label>
                <input type="text" name="product_name" id="nombre" class="form-control" >
            </div>

            <div class="form-group">
                <label for="precio">Precio del producto</label>
                <input type="number" name="product_price" id="precio" class="form-control" >
            </div>

            <div class="form-group">
                <label for="img">URL de la imagen del producto</label>
                <input accept="url/*" type="url" name="product_img" id="img" class="form-control" >
            </div>

            <div class="form-group">
                <label for="precio">Stock</label>
                <input type="number" name="product_stock" id="stock" class="form-control" >
            </div>

            <div class="form-group" style="margin-top: 0.5em;">
            <input type="submit" value="subir" class="btn btn-primary" style="width: 100px; height: 40px;">
            </div>
        </form>
    </div>
</div>
