doctype html
html(lang="es")
	include ./partials/head
	+head("Página usando pug")

	body(class="container")
		include ./partials/navbar
		- if data.length
			- data.forEach((productos) => {
				div(class="panel panel-primary")
					img(class="card-img-rigth" src= productos.imagen width="70px" height="70px" style="float: right")
				div(class="panel-headin") 
					b Nombre:#{productos.nombre}
				div(class="panel panel-body") 
					b Nombre:#{productos.precio}
					})
				