<%- include('partials/head', { tituloWeb: 'Inicio' })  %>
<%- include('partials/body')  %>
<%- include('partials/navigation')  %>
  <body>

    <h1>Logueado con éxitooooo</h1>

    <h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi placeat
      magni repellat, maiores laboriosam quibusdam quam atque ipsa, fuga
      incidunt repudiandae ex necessitatibus! Magnam recusandae, consequatur
      minus dignissimos voluptatum illum!
    </h2>
  </body>
</html>
